{{>layout/header}}
<h4>Table</h4>
<div class="table-wrapper">
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>최종 수정일</th>
        </tr>
        </thead>
        <tbody>
        {{#user}}
        <tr>
            <td>{{id}}</td>
            <td><a href="/workbook/view/{{id}}">{{title}}</a></td>
            <td>{{modifiedDate}}</td>
        </tr>
        {{/user}}
        </tbody>
        <input type="hidden" id="userid" value="{{userid}}">
        <a href="/workbook/create">문제집 만들기</a>
    </table>
</div>
{{>layout/footer}}