{{>layout/header}}
<h3>Table</h3>
<h4>{{user_id}}</h4>
<div class="table-wrapper">
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>최종 수정일</th>
        </tr>
        </thead>
        <tbody>
        {{#user}}
        <tr>
            <td>{{id}}</td>
            <td>{{title}}</td>
            <td>{{modifiedDate}}</td>
        </tr>
        {{/user}}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2"></td>
            <td>100.00</td>
        </tr>
        </tfoot>
    </table>
</div>
{{>layout/footer}}