{{>layout/header}}
<form>
    <input type="hidden" id="id" value="{{user}}">
    pw<input type="password" id="pw"/>
    name<input type="text" id="name"/>
</form>
<button type="button" id="update">수정</button>


{{>layout/footer}}